<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <title>post a job | hire_&_man</title>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/post_job.css" %}' />
  </head>
  <body>
    <div class="header">
      <div class="logoDiv">
        <img src="../static/img/logo_.png" alt="Tech_man_logo" />
        <span class="logoSpan">tech & man</span>
        <a href="/tech_&_man"> </a>
      </div>
      <div class="menu">
        <div class="menu1div">
            <a href="/tech_&_man/sign_in_employer"> post a job</a>
          <a href="/tech_&_man/find_job">find job</a>
        </div>
        <div class="menu2div">
          <a href="/tech_&_man/sign_up">sing up</a>
        </div>
      </div>
    </div>

    <div class="registrationContainer">
      <p> post a job</p>
      <form class="registrationForm" action="registration">
        {% csrf_token %}
        <input name="email_address" type="text" placeholder="email address" />
        <input name="password" type="text" placeholder="password" />
        <button type="submit">log in</button>
      </form>
    </div>
  </body>
</html>
